.wrap h2 {
	margin-top: 32px;
}
#ops .options {
	overflow: hidden;
	border: none;
}
#ops .option {
	overflow: hidden;
	border-bottom: dashed 1px #ccc;
	padding-bottom: 9px;
	padding-top: 9px;
}
#ops .option label {
	display: block;
	float: left;
	width: 200px;
	margin-right: 24px;
	text-align: right;
}
#ops .option span {
	display: block;
	float: left;
	margin-left: 230px;
	margin-top: 6px;
	clear: left;
}

#ops p.submit {
	overflow: hidden;
}
#ops .option span {
	color: #666;
	display: block;
